In [1]:
t = (1,2,3)

In [2]:
myList = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(myList
    )

list

In [5]:
t = ('one',2,'three')

In [6]:
t[0]

'one'

In [7]:
t[-1]

'three'

In [8]:
t = ('a','a','b','b','c','a')

In [9]:
t.count('a')

3

In [12]:
t.index('c')

4

In [13]:
t[1] = 'b'

TypeError: 'tuple' object does not support item assignment